* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}

.header{
    height: 100px;
    background-color: blueviolet;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 32px;
}

.menu_hamburguesa{
    display: none;
}

.menu_hamburguesa:checked + .nav-links {
    height: calc(100vh - 100px);
    max-height: 30vh;
}


.logo {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.list_icon {
    cursor: pointer;
    width: 60px;
}

.nav-links {
    width: 100%;
    background-color: brown;
    position: absolute;
    top: 100px;
    left: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    transition: max-height 0.3s ;
    z-index: 10;
}


.lista-li {}

.link {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.logos-right {
    display: flex;
}

.icon-log {
    width: 60px;
    margin-right: 20px;
}

@media (min-width:768px) {
    .label_hamburguesa {
        display: none;
    }
    .nav-links {
        background-color: transparent;
        position: static;
        max-height: none;
        flex-direction: row;
        gap: 20px;
    }
    .link {
        font-size: 20px;
        transition: all 0.3s;
        padding: .32px .64px;
        color: black;
        
    }
    
    .link:hover{
        background-color: #5f1192;
        border-radius: 10px;
    }
    
}

@media (max-width: 768px) { 
    .logos-right {
        display: none;
    }
    .logo {
        margin-left: -10px;
    }
}

.footer {
    background-color: #DEB307;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.compromiso-text {
    font-size: 24px;
}

.social-icon {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-elem a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-size: 32px;
    display: inline-block;
    margin: 0 10 px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-elem a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    margin-top: 10px;
    color: black;
}

.bg-custom-g{
    background-color: #e3e4e5;
}

.row {
    display: flex;
}
.bg-custom {
    background-color: #1A88DC;
}


.col-md-6 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.img-fluid {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}


.col-md-6 h1 {
    font-size: 2.5rem;
}

.col-md-6 h6 {
    font-size: 1.5rem;
}

.col-md-6 p {
    font-size: 1rem;
}
